// Colors -------------------

$light: #FFFFFF;
$dark: #0E151B;
$green: #42B137;
$green-background: #D9EDD4;
$blue: #0088CC;
$blue-light: lighten($blue, 30);
// $blue-light: #B2DBF0;

$first: 'Kalam', cursive;
$second: 'Gochi Hand', cursive;
$third: 'Rancho', cursive;
$body-font: 'Roboto', sans-serif;

// Adjunct ------------------

$container-max-width: 1000px;
$comma-space: -15px;
$nav-item-height: 54px;
$transform-transition: transform ease-in-out 180ms;
$animation-timer: 200ms;
$radius-amount: 6px;

// Media Queries ------------

$tiny-phone: "screen and (max-width: 350px)";
$mobile: "screen and (max-width: 600px)";
$tablet: "screen and (max-width: 883px)";
$tablet-roof: "screen and (min-width: 884px)";
$tablet-floor: "screen and (min-width: 601px)";
$footer-break: "screen and (max-width: 880px)";

// Animations ---------------

@-webkit-keyframes slideFromLeft {
  0% { left: 10px;}
  100% { left: $comma-space;}
}

@-webkit-keyframes slideFromRight {
  0% { right: 10px;}
  100% { right: $comma-space;}
}

@-webkit-keyframes menuDrop {
  0% { max-height: 0px; overflow: hidden;}
  100% { max-height: 800px; overflow: hidden;}
}

@-webkit-keyframes glow {
  0% { text-shadow: 0px 0px 18px yellow;}
  40% { text-shadow: 0px 0px 30px $light;}
  60% { text-shadow: 0px 0px 30px $light;}
  100% { text-shadow: 0px 0px 18px yellow;}
}

body {
  font-family: $body-font;
  min-height: 100vh;
  background-color: $green-background;
  background-image: url(../images/tree-with-leafage-web-background-concept.jpg);
  background-position: center bottom;
  // background-size: contain;
  background-repeat: no-repeat;
  box-sizing: border-box;
  * {
    box-sizing: border-box;
  }
}
