@-webkit-keyframes slideFromLeft {
  0% {
    left: 10px; }
  100% {
    left: -15px; } }
@-webkit-keyframes slideFromRight {
  0% {
    right: 10px; }
  100% {
    right: -15px; } }
@-webkit-keyframes menuDrop {
  0% {
    max-height: 0px;
    overflow: hidden; }
  100% {
    max-height: 800px;
    overflow: hidden; } }
body {
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  background-color: #D9EDD4;
  background-image: url(../images/tree-with-leafage-web-background-concept.jpg);
  background-position: center bottom;
  background-repeat: no-repeat;
  box-sizing: border-box; }
  body * {
    box-sizing: border-box; }

header {
  max-height: 300px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 33.33% 33.33% 54px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto; }
  header .logo {
    grid-area: 1/1/4/2; }
    header .logo img {
      transition: transform ease-in-out 180ms; }
    header .logo:hover img {
      transform: rotateZ(18deg); }
  header h1 {
    grid-area: 2/2/3/5;
    font-size: 2.6rem;
    margin: 0px;
    font-family: "Gochi Hand", cursive; }
  header h3 {
    grid-area: 2/6/3/7;
    transition: transform ease-in-out 180ms;
    color: #0E151B;
    margin: 0px;
    display: flex;
    flex-direction: row;
    align-items: center; }
    header h3 a {
      position: relative;
      font-size: inherit;
      text-decoration: none;
      color: inherit;
      font-size: 1.4rem;
      font-weight: normal; }
    header h3:hover {
      transform: scale(1.05); }
      header h3:hover a:before {
        content: '(';
        position: absolute;
        font-size: 1.9rem;
        left: -15px;
        top: -7px;
        color: #42B137;
        animation: slideFromLeft ease-in-out 200ms; }
      header h3:hover a:after {
        content: ')';
        position: absolute;
        font-size: 1.9rem;
        right: -15px;
        top: -7px;
        color: #42B137;
        animation: slideFromRight ease-in-out 200ms; }
  header .facebook {
    grid-area: 1/6/2/7; }
  header ul.navlist {
    grid-area: 3/2/4/7;
    list-style: none;
    padding-left: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 0px;
    z-index: 5; }
    header ul.navlist > li {
      flex-basis: 19%; }
    header ul.navlist li {
      list-style-type: none; }
    header ul.navlist ul {
      padding-left: 0px;
      width: 100%;
      margin-right: 0px; }
      header ul.navlist ul a:not(:first-of-type) {
        display: none; }
      header ul.navlist ul:hover a:not(:first-of-type) {
        display: inline; }
      header ul.navlist ul a {
        text-decoration: none; }
        header ul.navlist ul a li {
          padding: 8px 12px;
          background-color: #42B137;
          font-size: 1.3rem;
          color: #0E151B;
          text-align: center;
          border-radius: 6px; }
          header ul.navlist ul a li:hover {
            background-color: #5dc952;
            color: #FFFFFF; }
        header ul.navlist ul a:first-of-type li {
          margin-bottom: 10px; }
        header ul.navlist ul a:not(:first-of-type) li {
          border-radius: 0px;
          border-bottom: 2px solid #a4bcd0;
          background-color: #93db8c; }
    header ul.navlist > li:last-of-type {
      padding: 8px 12px;
      background-color: #42B137;
      font-size: 1.3rem;
      color: #0E151B;
      text-align: center;
      border-radius: 6px; }
      header ul.navlist > li:last-of-type a {
        text-decoration: none;
        color: inherit; }
      header ul.navlist > li:last-of-type:hover {
        background-color: #5dc952;
        color: #FFFFFF; }
  @media screen and (max-width: 835px) {
    header .logo {
      grid-area: 1/3/4/5;
      z-index: 1;
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding-bottom: 20px;
      padding-right: 15px; }
    header h1 {
      grid-area: 4/1/5/7;
      text-align: center;
      z-index: 2; }
    header h3 {
      grid-area: 3/1/4/7;
      text-align: center;
      z-index: 2;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-end; }
    header .facebook {
      grid-area: 1/1/2/7;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      z-index: 2; }
    header ul.navlist {
      display: none; } }

nav {
  width: 100%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto; }
  @media screen and (min-width: 836px) {
    nav {
      display: none; } }
  nav h4 {
    margin: 0px;
    text-align: center;
    font-size: 1.8rem;
    padding: 8px 0px;
    color: #1f2f3d;
    transition: background-color ease-in-out 280ms, border-radius ease-in-out 280ms;
    border: 3px solid green;
    border-radius: 15px; }
    nav h4:hover:not(.changeBackground) {
      cursor: pointer;
      background-color: rgba(66, 177, 55, 0.2); }
  nav ul.navlist {
    list-style: none;
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    padding: 0px;
    margin: 0px; }
    nav ul.navlist li {
      flex-basis: 100%;
      width: 100%;
      max-width: 100%;
      background-color: #93db8c; }
      nav ul.navlist li ul {
        list-style-type: none;
        padding: 0px;
        text-align: center; }
        nav ul.navlist li ul a {
          text-decoration: none;
          font-size: 1.2rem; }
          nav ul.navlist li ul a:first-of-type {
            font-size: 1.7rem;
            font-weight: bold;
            font-family: "Gochi Hand", cursive; }
          nav ul.navlist li ul a li {
            color: #0E151B;
            padding: 4px 0px; }
          nav ul.navlist li ul a:active li {
            background-color: #42B137;
            color: #FFFFFF; }
      nav ul.navlist li:not(:first-of-type) {
        padding-top: 8px; }
    nav ul.navlist > li:last-of-type {
      font-size: 1.2rem;
      text-align: center;
      color: #0E151B;
      padding: 4px 0px 8px; }
      nav ul.navlist > li:last-of-type a {
        text-decoration: none;
        color: inherit;
        width: 100%; }
      nav ul.navlist > li:last-of-type:active {
        background-color: #42B137;
        color: #FFFFFF; }

.changeBackground {
  background-color: #42B137;
  transition: border-radius ease-in-out 280ms;
  border: none;
  border-radius: 0px; }

.showing {
  animation: menuDrop ease-in-out 800ms;
  display: flex !important; }

footer {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  border-top: 3px solid #42B137;
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between; }
  footer .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 17px;
    padding-right: 20px;
    border-right: 3px solid #42B137; }
    footer .info p {
      margin: 0px;
      padding: 0px; }
      footer .info p.bold {
        font-weight: bolder; }
      footer .info p a {
        text-decoration: none;
        color: inherit; }
  footer a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
  footer img {
    z-index: 1; }
  @media screen and (max-width: 880px) {
    footer {
      justify-content: center; }
      footer .info {
        flex-basis: 40%;
        padding-bottom: 25px;
        border-right: none;
        padding-right: 0px; }
      footer a:first-of-type {
        flex-basis: 50%; } }

main {
  min-height: 70vh;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 25px; }

main.index {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  main.index section.slideshowHolder {
    flex-basis: 100%;
    width: 100%;
    max-width: 100%; }
    main.index section.slideshowHolder img {
      width: 100%;
      object-fit: contain; }
  main.index aside {
    margin-top: 30px;
    margin-bottom: 30px; }
    main.index aside:first-of-type {
      flex-basis: 60%;
      width: 60%; }
      main.index aside:first-of-type h1 {
        font-weight: normal; }
      main.index aside:first-of-type ul li {
        padding: 5px 0px; }
    main.index aside:last-of-type {
      flex-basis: 40%;
      width: 40%;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap; }
      main.index aside:last-of-type h2 {
        text-align: center;
        background-color: #0088CC;
        color: #FFFFFF;
        margin: 0px;
        padding: 6px 10px;
        border-radius: 6px; }
      main.index aside:last-of-type .ul {
        background-color: #66ccff;
        color: #0E151B;
        padding: 6px 10px;
        border-radius: 6px;
        flex-basis: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center; }
        main.index aside:last-of-type .ul ul li:first-of-type {
          padding-bottom: 15px; }
  main.index section.bottomBoxOfMain {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    main.index section.bottomBoxOfMain h1 {
      font-size: 2.5rem;
      background-color: #42B137;
      color: #D9EDD4;
      margin: 0px;
      padding: 6px 12px;
      border-radius: 6px; }
    main.index section.bottomBoxOfMain h3 {
      margin: 0px;
      padding: 6px 12px;
      border-radius: 6px;
      background-color: #b8e7b3;
      max-width: 40%;
      display: flex;
      flex-direction: row;
      align-items: center;
      font-weight: normal; }
  @media screen and (max-width: 835px) {
    main.index {
      justify-content: center;
      padding-left: 15px;
      padding-right: 15px; }
      main.index aside {
        flex-basis: 100% !important; }
        main.index aside:first-of-type {
          display: flex;
          flex-direction: row;
          justify-content: center;
          flex-wrap: wrap; }
          main.index aside:first-of-type > * {
            flex-basis: 100%;
            width: 100%;
            max-width: 405px; }
          main.index aside:first-of-type h1 {
            text-align: center; }
        main.index aside:last-of-type {
          align-items: center; }
          main.index aside:last-of-type > * {
            width: 100%;
            max-width: 90vw; }
      main.index section.bottomBoxOfMain {
        justify-content: center; }
        main.index section.bottomBoxOfMain h1, main.index section.bottomBoxOfMain h3, main.index section.bottomBoxOfMain img {
          flex-basis: 100% !important;
          max-width: 405px;
          text-align: center; } }

main.history section.slideshowHolder {
  flex-basis: 100%;
  width: 100%;
  max-width: 100%; }
  main.history section.slideshowHolder img {
    width: 100%;
    object-fit: contain; }

main.textImage {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  main.textImage aside.text {
    flex-basis: 60%;
    width: 60%;
    max-width: 60%;
    margin-top: 25px; }
    main.textImage aside.text h1 {
      margin: 0px;
      font-size: 2rem;
      color: #42B137;
      padding-bottom: 16px; }
    main.textImage aside.text h2 {
      margin: 0px;
      font-size: 1.5rem;
      color: #0088CC;
      padding-top: 10px; }
      main.textImage aside.text h2 a {
        text-decoration: none;
        color: inherit;
        font-size: inherit; }
        main.textImage aside.text h2 a:hover {
          text-decoration: underline; }
    main.textImage aside.text p, main.textImage aside.text li {
      margin-top: 0px;
      margin-bottom: 0px;
      padding-bottom: 16px; }
    main.textImage aside.text .dataTable {
      width: 100%;
      max-width: 100%;
      min-width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      padding-bottom: 20px; }
      main.textImage aside.text .dataTable .age {
        flex-basis: 20%;
        width: 20%;
        max-width: 20%;
        padding: 4px;
        border: 1px solid #FFFFFF;
        background-color: #D9EDD4; }
      main.textImage aside.text .dataTable .visit, main.textImage aside.text .dataTable .vaccines {
        flex-basis: 40%;
        width: 40%;
        max-width: 40%;
        padding: 4px;
        border: 1px solid #FFFFFF;
        background-color: #D9EDD4; }
      main.textImage aside.text .dataTable .tableTitle {
        background-color: #0088CC; }
  main.textImage aside.image {
    flex-basis: 40%;
    width: 40%;
    max-width: 40%;
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start; }
  @media screen and (max-width: 835px) {
    main.textImage aside.text {
      flex-basis: 100%;
      width: 100%;
      max-width: 100%; }
      main.textImage aside.text h1 {
        text-align: center; }
    main.textImage aside.image {
      flex-basis: 100%;
      width: 100%;
      max-width: 100%; } }

a {
  color: #42B137; }
  a:hover {
    color: #5dc952; }

.aster {
  padding-bottom: 16px;
  padding-left: 16px; }

.spaceBottom {
  padding-bottom: 16px; }

.noUnderline {
  text-decoration: none;
  font-weight: bold;
  padding: 5px;
  border: 1px solid #42B137;
  background-color: transparent;
  border-radius: 3px;
  transition: background-color ease-in-out 180ms; }
  .noUnderline:hover {
    background-color: #42B137;
    color: #FFFFFF !important; }

main.drPage {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  main.drPage aside.image {
    flex-basis: 20%;
    width: 20%;
    max-width: 20%;
    padding-top: 25px; }
    main.drPage aside.image img {
      max-width: 100%; }
  main.drPage aside.text {
    flex-basis: 60%;
    width: 60%;
    max-width: 60%; }
    main.drPage aside.text h1 {
      color: #42B137; }
  main.drPage aside.drNav {
    flex-basis: 20%;
    width: 20%;
    max-width: 20%;
    padding-top: 25px; }
    main.drPage aside.drNav ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 5px solid #FFFFFF;
      border-radius: 8px;
      background-color: #FFFFFF;
      margin: 0px;
      padding: 0px; }
      main.drPage aside.drNav ul a {
        text-decoration: none;
        color: #0E151B;
        width: 100%;
        max-width: 100%; }
        main.drPage aside.drNav ul a li {
          list-style-type: none;
          padding: 4px;
          width: 100%;
          max-width: 100%;
          text-align: center; }
        main.drPage aside.drNav ul a:not(:last-of-type) li {
          border-bottom: 2px solid #D9EDD4; }
        main.drPage aside.drNav ul a:first-of-type {
          border-radius: 4px 4px 0px 0px; }
        main.drPage aside.drNav ul a:last-of-type {
          border-radius: 0px 0px 4px 4px; }
        main.drPage aside.drNav ul a:hover {
          background-color: #D9EDD4; }
  @media screen and (max-width: 835px) {
    main.drPage aside.image, main.drPage aside.text, main.drPage aside.drNav {
      flex-basis: 100%;
      width: 100%;
      max-width: 100%; }
    main.drPage aside.image {
      display: flex;
      flex-direction: row;
      justify-content: center;
      order: 2; }
    main.drPage aside.text {
      order: 3; }
      main.drPage aside.text h1 {
        text-align: center;
        font-size: 2rem; }
      main.drPage aside.text p {
        font-size: 1.3rem; }
    main.drPage aside.drNav {
      order: 1;
      padding-top: 10px; }
      main.drPage aside.drNav ul {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start; }
        main.drPage aside.drNav ul a {
          flex-basis: 33.333%;
          height: auto; }
          main.drPage aside.drNav ul a:not(:last-of-type) li {
            border-bottom: none; }
          main.drPage aside.drNav ul a:nth-of-type(2) li {
            border-right: 2px solid #D9EDD4;
            border-left: 2px solid #D9EDD4; }
          main.drPage aside.drNav ul a:nth-of-type(5) li {
            border-right: 2px solid #D9EDD4;
            border-left: 2px solid #D9EDD4; }
          main.drPage aside.drNav ul a:nth-of-type(8) li {
            border-right: 2px solid #D9EDD4;
            border-left: 2px solid #D9EDD4; }
    main.drPage .boardStatus {
      padding-top: 40px;
      text-align: center; }
    main.drPage .alignCenter {
      text-align: center; } }
  @media screen and (max-width: 350px) {
    main.drPage aside.drNav ul a li {
      font-size: 0.9rem; } }

main.providersPage {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  main.providersPage aside.text {
    flex-basis: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; }
    main.providersPage aside.text h1 {
      flex-basis: 100%;
      width: 100%;
      max-width: 100%;
      font-size: 2.5rem;
      color: #42B137;
      text-align: center; }
    main.providersPage aside.text div.provider {
      flex-basis: 30%;
      width: 30%;
      max-width: 30%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 30px; }
      main.providersPage aside.text div.provider img {
        max-width: 100%; }
      main.providersPage aside.text div.provider h2 {
        font-size: 1.3rem;
        color: #42B137;
        text-align: center;
        width: 100%;
        max-width: 100%;
        text-align: center;
        margin: 0px; }
      main.providersPage aside.text div.provider span {
        width: 100%;
        max-width: 100%;
        text-align: center; }
  main.providersPage aside.drNav {
    flex-basis: 20%;
    width: 20%;
    max-width: 20%;
    padding-top: 25px; }
    main.providersPage aside.drNav ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 5px solid #FFFFFF;
      border-radius: 8px;
      background-color: #FFFFFF;
      margin: 0px;
      padding: 0px; }
      main.providersPage aside.drNav ul a {
        text-decoration: none;
        color: #0E151B;
        width: 100%;
        max-width: 100%; }
        main.providersPage aside.drNav ul a li {
          list-style-type: none;
          padding: 4px;
          width: 100%;
          max-width: 100%;
          text-align: center; }
        main.providersPage aside.drNav ul a:not(:last-of-type) li {
          border-bottom: 2px solid #D9EDD4; }
        main.providersPage aside.drNav ul a:first-of-type {
          border-radius: 4px 4px 0px 0px; }
        main.providersPage aside.drNav ul a:last-of-type {
          border-radius: 0px 0px 4px 4px; }
        main.providersPage aside.drNav ul a:hover {
          background-color: #D9EDD4; }
  @media screen and (max-width: 835px) {
    main.providersPage aside.text {
      order: 2;
      flex-basis: 100%;
      justify-content: center; }
      main.providersPage aside.text h1 {
        text-align: center; }
      main.providersPage aside.text div.provider {
        flex-basis: 45%;
        width: 45%;
        max-width: 45%; }
    main.providersPage aside.drNav {
      order: 1;
      padding-top: 10px;
      flex-basis: 100%;
      width: 100%;
      max-width: 100%; }
      main.providersPage aside.drNav ul {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start; }
        main.providersPage aside.drNav ul a {
          flex-basis: 33.333%;
          height: auto; }
          main.providersPage aside.drNav ul a:not(:last-of-type) li {
            border-bottom: none; }
          main.providersPage aside.drNav ul a:nth-of-type(2) li {
            border-right: 2px solid #D9EDD4;
            border-left: 2px solid #D9EDD4; }
          main.providersPage aside.drNav ul a:nth-of-type(5) li {
            border-right: 2px solid #D9EDD4;
            border-left: 2px solid #D9EDD4; }
          main.providersPage aside.drNav ul a:nth-of-type(8) li {
            border-right: 2px solid #D9EDD4;
            border-left: 2px solid #D9EDD4; } }
  @media screen and (max-width: 600px) {
    main.providersPage aside.text div.provider {
      flex-basis: 100%;
      width: 100%;
      max-width: 100%; }
      main.providersPage aside.text div.provider h2 {
        font-size: 1.6rem; } }
  @media screen and (max-width: 350px) {
    main.providersPage aside.drNav ul a li {
      font-size: 0.9rem; } }

/*# sourceMappingURL=main.css.map */
